---
import Medusa from '@medusajs/medusa-js'

const baseUrl = import.meta.env.MEDUSA_URL
const client = new Medusa({ baseUrl, maxRetries: 3 })
const res = await client.products.list()

const products = res.products
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{
			products.map((product) => {
				return (
					<div>
						<h2><a href={`/products/${product.handle}`}>{product.title}</a></h2>
						<p>{product.description}</p>
						<img src={product.thumbnail} />
					</div>
				)
			})
		}
	</body>
</html>
